.bank1 {
  height: 70vh;
  width: 70vw;
  position: relative;
  background-size: cover;
  background-image: url("/maps/bank/r6-maps-bank-blueprint-1.jpg");
}

.flexOps {
  display: flex;
  flex-direction: row;
}

.container {
    padding: 0 2rem;
}
  
.main {
  min-height: 90vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex: 1;
  padding: 0.5rem 0;
  border-bottom: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  flex: 1;
  padding: 0.5rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  vertical-align:middle;
  color: inherit;
  background-color: grey;
  text-decoration: none;
  font-size: 20px;
  /* border: 1px solid #eaeaea; */
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease, background-image 0.15s ease, text-shadow 0.15s ease;
  /* max-width: 300px; */
  width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: white;
  /* border-color: #0070f3; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 5px 5px 10px black;
}

.bank:hover,
.bank:focus,
.bank:active {
  background-image: url("/maps/bank.jpg");
}

.border:hover,
.border:focus,
.border:active {
  background-image: url("/maps/border.jpg");
}

.chalet:hover,
.chalet:focus,
.chalet:active {
  background-image: url("/maps/chalet.jpg");
}

.clubhouse:hover,
.clubhouse:focus,
.clubhouse:active {
  background-image: url("/maps/clubhouse.jpg");
}

.coastline:hover,
.coastline:focus,
.coastline:active {
  background-image: url("/maps/coastline.jpg");
}

.consulate:hover,
.consulate:focus,
.consulate:active {
  background-image: url("/maps/consulate.jpg");
}

.favela:hover,
.favela:focus,
.favela:active {
  background-image: url("/maps/favela.jpg");
}

.fortress:hover,
.fortress:focus,
.fortress:active {
  background-image: url("/maps/fortress.jpg");
}

.hereford:hover,
.hereford:focus,
.hereford:active {
  background-image: url("/maps/hereford.jpg");
}

.house:hover,
.house:focus,
.house:active {
  background-image: url("/maps/house.jpg");
}

.kafe:hover,
.kafe:focus,
.kafe:active {
  background-image: url("/maps/kafe.jpg");
}

.kanal:hover,
.kanal:focus,
.kanal:active {
  background-image: url("/maps/kanal.jpg");
}

.oregon:hover,
.oregon:focus,
.oregon:active {
  background-image: url("/maps/oregon.jpg");
}

.outback:hover,
.outback:focus,
.outback:active {
  background-image: url("/maps/outback.jpg");
}

.plane:hover,
.plane:focus,
.plane:active {
  background-image: url("/maps/plane.jpg");
}

.skyscraper:hover,
.skyscraper:focus,
.skyscraper:active {
  background-image: url("/maps/skyscraper.jpg");
}

.themepark:hover,
.themepark:focus,
.themepark:active {
  background-image: url("/maps/themepark.jpg");
}

.tower:hover,
.tower:focus,
.tower:active {
  background-image: url("/maps/tower.jpg");
}

.villa:hover,
.villa:focus,
.villa:active {
  background-image: url("/maps/villa.jpg");
}

.yacht:hover,
.yacht:focus,
.yacht:active {
  background-image: url("/maps/yacht.jpg");
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
